/*Colors and fonts*/

body{
  background-color: #F0F0E4;
  color: #7B3C3C;
  font-family: Libre Baskerville, sans-serif;
  font-size: 14px;
  font-weight: lighter;

}


h1{
  color: #7B3C3C;
  font-family: League Spartan, serif;
  font-weight: 1200;
  letter-spacing: 8px;
  font-size: 48px;


}
h2{
  font-family: League Spartan, serif;
  font-size: 28px;
  font-weight: 500;
  color: #68BDE1;
}

a{
  text-decoration: none;
  font-family: League Spartan;
  color: #DB5F29;
  font-weight: 600;
  font-size: 16px;

}
a{
  transition: color 0.3s ease
}
a:hover{
  color: #7B3C3C;
}

#profile {
  width: 150px;
  border-radius: 70%
}



.container {
  width: 800px;
  margin: 10px auto;

}

@media (max-width: 860px) {
  .container {
    width: 600px;
  }
}

@media (max-width: 500px) {
  .container {
    width: 400px;
  }
}

.card-white {
  background-color: white;
  padding: 50px;
  margin: 20px;
  box-shadow: 5px 5px 20px #c9ced0;
  border-radius: 8px;
  text-align: center;
}

.button-orange{
  background-color:  #DB5F29;
  color: white;
  padding: 15px 20px;
  border-radius: 8px;

}

.button-orange:hover{
  background-color: #7B3C3C;
  color: white;
}

.list-inline{
  list-style: none;
  padding-left: 0px;

}

.list-inline li{
  display: inline;
  padding: 20px;

}

.list-inline i{
  font-size: 50px;
  color: rgb(200, 200, 200);

}

.list-inline i:hover {
  color: #7B3C3C;
}

#introduction p{
  margin-bottom: 40px;
  margin-top: 30px;
}
